.navList {
  position: absolute;
  top: -50px;
  display: flex;
  gap: 30px;
}

.navItem {
  width: 100px;
  height: 70px;
  background-color: #f7df95;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  font-size: 20px;
  font-family: 'Shantell Sans', cursive;
  text-align: center;
  padding-top: 20px;
}
.navItem:hover {
  animation: showNavigate 2s ;
  cursor: pointer;

}

@keyframes showNavigate {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(70%);
  }
}
