.homePage {
  width: 500px;
  background-color: #2c2c98;
  height: 40em;
  position: relative;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
}
.homePageTitle {
  color: white;
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 40px;
  font-family: 'Shantell Sans', cursive;
}
.homePageSignature {
  font-family: 'Shantell Sans', cursive;
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: rgb(177, 174, 174);
}
