.AddFormInput{
    margin-top: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid black;
    height: 40px;
    width: 250px;
}
.AddFormInput::placeholder{
    font-size: 20px;
    font-family: 'Shantell Sans', cursive;
    text-align: center;
}

.AddFormBtn{
    margin-top: 15px;

}

.form{
    margin-left: 60px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}