@keyframes changeSheetIncrement {
  0% {
    transform: translateX(0%) rotateY(0deg);
  }

  100% {
    transform: translateX(-100%) rotateY(-180deg);
  }
}
@keyframes changeSheetDecrement {
  0% {
    transform: translateX(-100%) rotateY(-180deg);
  }
  100% {
    transform: translateX(0%) rotateY(0deg);
  }
}

.singlePage {
  background-color: #f7df95;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 39px,
    red 20px,
    red 40px
  );
  width: 500px;
  padding: 20px 10px;
  border: 1px solid black;
  margin: 0;
  height: 95%;

  position: absolute;
  top: 0px;
  left: 500px;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  direction: normal;
}
.singlePage::after {
  content: '';
  position: absolute;
  right: 60px;
  top: 0px;
  height: 100%;
  border: 1px red solid;
}

.singlePage__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.singlePage__item {
  padding-top: 20px;
}

.singlePage__changeSheetIncrement {
  animation-name: changeSheetIncrement;
}

.singlePage__changeSheetDecrement {
  animation-name: changeSheetDecrement;
}
