.singlePage {
background-color: #F7DF95;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 39px,
    red 20px,
    red 40px
  );
  width: 500px;
  padding: 20px 10px;
  border: 1px solid black;
  margin: 0;
  height: 95%;
  
}
.singlePage::after {
  content: '';
  position: absolute;
  left: 60px;
  top: 0px;
  height: 95%;
  border: 1px red solid;
}
