.book {
  position: relative;
  top: 15px;
  left: 50%;
  transform: translateX(-100%);
  width: min-content;
  height: 100%;
  perspective: 30000px;
  
}

.bookCover {
  background-color:#2C2C98;
  width: 1050px;
  height: 40em;
  position: relative;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
